.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding: 8px 16px;
    position: absolute;
    bottom: 0;
}

.infoIcon{
  margin-right: 32px;
}

.logo {
  padding: 0 24px;
}

.list{
  height: 100vh;
}

