.applyButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.legendSquare {
  height: 10px;
  width: 10px;
  margin-right: 2px;
}

.legendItem {
  margin: 5px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Arial, Helvetica, sans-serif;
}

.legendTitle {
  padding-bottom: 16px;
}

.legendItemContainer {
  height: 100%;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.legendContainer {
  height: 100%;
}
